<a href="https://colab.research.google.com/github/ziedjouini/machine-learning/blob/main/Copie_de_Linear_regression_3_Score_and_TrainTestSplit_zied.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Execute the code below

In [101]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
from sklearn.linear_model import LinearRegression
link = "https://raw.githubusercontent.com/murpi/wilddata/master/quests/weather2019.csv"
df_weather = pd.read_csv(link)
df_weather

,DATE,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,WINDSPEED_MAX_KMH,TEMPERATURE_MORNING_C,TEMPERATURE_NOON_C,TEMPERATURE_EVENING_C,PRECIP_TOTAL_DAY_MM,HUMIDITY_MAX_PERCENT,VISIBILITY_AVG_KM,...,WINDTEMP_MAX_C,WEATHER_CODE_MORNING,WEATHER_CODE_NOON,WEATHER_CODE_EVENING,TOTAL_SNOW_MM,UV_INDEX,SUNHOUR,OPINION,MONTH,DAY
0,2019-01-01,9,4,10,4,7,8,0.2,94,9.000,...,3,116,143,176,0,1,5.1,very bad,1,1
1,2019-01-02,8,5,18,7,7,5,0.0,90,9.000,...,3,119,116,116,0,1,8.7,very bad,1,2
2,2019-01-03,6,0,18,0,4,3,0.0,88,10.000,...,-4,116,116,116,0,1,8.7,very bad,1,3
3,2019-01-04,5,-1,15,-1,4,3,0.0,91,10.000,...,-4,116,116,122,0,1,5.1,very bad,1,4
4,2019-01-05,6,-1,8,-1,4,3,0.0,91,8.000,...,-2,143,116,116,0,1,8.7,very bad,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2019-12-27,13,10,13,10,12,11,0.0,96,7.375,...,8,119,143,116,0,1,8.7,not good not bad,12,27
361,2019-12-28,11,5,12,7,8,8,0.0,93,7.625,...,4,143,116,116,0,1,6.9,very bad,12,28
362,2019-12-29,9,2,11,3,6,7,0.0,86,10.000,...,0,116,116,116,0,1,8.7,very bad,12,29
363,2019-12-30,12,4,7,5,9,9,0.0,61,10.000,...,4,113,113,113,0,1,8.7,very bad,12,30
364,2019-12-31,10,4,13,4,7,9,0.1,94,9.000,...,1,113,143,119,0,1,8.7,very bad,12,31

# Scoring and metrics
Last time, you did a multivariate linear regression. But how can you be sure this multivariate linear regression is better than an univariate ? You have to measure it !

## First regression
Let's begin with a first linear regression : create a new column `'predict_from_sun'` whith the prediction of MAX temperature from the SUNHOUR variable.

In [102]:
# Your code here :
X = df_weather[["SUNHOUR"]]
y =df_weather['MAX_TEMPERATURE_C'] 
model_from_sun = LinearRegression().fit(X,y)
model_from_sun

LinearRegression()

In [103]:
df_weather['predict_from_sun']=model_from_sun.predict(df_weather[['SUNHOUR']])
df_weather

,DATE,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,WINDSPEED_MAX_KMH,TEMPERATURE_MORNING_C,TEMPERATURE_NOON_C,TEMPERATURE_EVENING_C,PRECIP_TOTAL_DAY_MM,HUMIDITY_MAX_PERCENT,VISIBILITY_AVG_KM,...,WEATHER_CODE_MORNING,WEATHER_CODE_NOON,WEATHER_CODE_EVENING,TOTAL_SNOW_MM,UV_INDEX,SUNHOUR,OPINION,MONTH,DAY,predict_from_sun
0,2019-01-01,9,4,10,4,7,8,0.2,94,9.000,...,116,143,176,0,1,5.1,very bad,1,1,11.396823
1,2019-01-02,8,5,18,7,7,5,0.0,90,9.000,...,119,116,116,0,1,8.7,very bad,1,2,16.020019
2,2019-01-03,6,0,18,0,4,3,0.0,88,10.000,...,116,116,116,0,1,8.7,very bad,1,3,16.020019
3,2019-01-04,5,-1,15,-1,4,3,0.0,91,10.000,...,116,116,122,0,1,5.1,very bad,1,4,11.396823
4,2019-01-05,6,-1,8,-1,4,3,0.0,91,8.000,...,143,116,116,0,1,8.7,very bad,1,5,16.020019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2019-12-27,13,10,13,10,12,11,0.0,96,7.375,...,119,143,116,0,1,8.7,not good not bad,12,27,16.020019
361,2019-12-28,11,5,12,7,8,8,0.0,93,7.625,...,143,116,116,0,1,6.9,very bad,12,28,13.708421
362,2019-12-29,9,2,11,3,6,7,0.0,86,10.000,...,116,116,116,0,1,8.7,very bad,12,29,16.020019
363,2019-12-30,12,4,7,5,9,9,0.0,61,10.000,...,113,113,113,0,1,8.7,very bad,12,30,16.020019
364,2019-12-31,10,4,13,4,7,9,0.1,94,9.000,...,113,143,119,0,1,8.7,very bad,12,31,16.020019

## R2 score
The best possible R2 score is '1', when our prediction predicts perfectly the reality. Let's see what is our R2 score :

In [104]:
# Change the name of the model if it's necessary
model_from_sun.score(X, y)

0.47654554059087306

## Let's continue with 2 others regressions
- Second regression : create a new column 'predict_from_min' whith the prediction of MAX temperature from the MIN temperature variable
- Third regression : create a new column 'predict_from_both' whith the prediction of MAX temperature from the both variables (MIN temperature and Sunhours)

In [ ]:
# Your code here :

In [105]:
X2 = df_weather[["MIN_TEMPERATURE_C"]]
y2 =df_weather['MAX_TEMPERATURE_C'] 
model_from_min= LinearRegression().fit(X2,y2)
df_weather['predict_from_min']=model_from_min.predict(df_weather[['MIN_TEMPERATURE_C']])
df_weather

,DATE,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,WINDSPEED_MAX_KMH,TEMPERATURE_MORNING_C,TEMPERATURE_NOON_C,TEMPERATURE_EVENING_C,PRECIP_TOTAL_DAY_MM,HUMIDITY_MAX_PERCENT,VISIBILITY_AVG_KM,...,WEATHER_CODE_NOON,WEATHER_CODE_EVENING,TOTAL_SNOW_MM,UV_INDEX,SUNHOUR,OPINION,MONTH,DAY,predict_from_sun,predict_from_min
0,2019-01-01,9,4,10,4,7,8,0.2,94,9.000,...,143,176,0,1,5.1,very bad,1,1,11.396823,10.579999
1,2019-01-02,8,5,18,7,7,5,0.0,90,9.000,...,116,116,0,1,8.7,very bad,1,2,16.020019,11.802741
2,2019-01-03,6,0,18,0,4,3,0.0,88,10.000,...,116,116,0,1,8.7,very bad,1,3,16.020019,5.689031
3,2019-01-04,5,-1,15,-1,4,3,0.0,91,10.000,...,116,122,0,1,5.1,very bad,1,4,11.396823,4.466289
4,2019-01-05,6,-1,8,-1,4,3,0.0,91,8.000,...,116,116,0,1,8.7,very bad,1,5,16.020019,4.466289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2019-12-27,13,10,13,10,12,11,0.0,96,7.375,...,143,116,0,1,8.7,not good not bad,12,27,16.020019,17.916452
361,2019-12-28,11,5,12,7,8,8,0.0,93,7.625,...,116,116,0,1,6.9,very bad,12,28,13.708421,11.802741
362,2019-12-29,9,2,11,3,6,7,0.0,86,10.000,...,116,116,0,1,8.7,very bad,12,29,16.020019,8.134515
363,2019-12-30,12,4,7,5,9,9,0.0,61,10.000,...,113,113,0,1,8.7,very bad,12,30,16.020019,10.579999
364,2019-12-31,10,4,13,4,7,9,0.1,94,9.000,...,143,119,0,1,8.7,very bad,12,31,16.020019,10.579999

In [106]:
print("R2=" ,model_from_min.score(X2, y2))

R2= 0.7689396999057355

In [107]:
X3 = df_weather[["MIN_TEMPERATURE_C","SUNHOUR"]]
y3 =df_weather['MAX_TEMPERATURE_C'] 
model_from_both= LinearRegression().fit(X3,y3)
df_weather[ 'predict_from_both' ]=model_from_both.predict(df_weather[['MIN_TEMPERATURE_C','SUNHOUR']])
df_weather

,DATE,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,WINDSPEED_MAX_KMH,TEMPERATURE_MORNING_C,TEMPERATURE_NOON_C,TEMPERATURE_EVENING_C,PRECIP_TOTAL_DAY_MM,HUMIDITY_MAX_PERCENT,VISIBILITY_AVG_KM,...,WEATHER_CODE_EVENING,TOTAL_SNOW_MM,UV_INDEX,SUNHOUR,OPINION,MONTH,DAY,predict_from_sun,predict_from_min,predict_from_both
0,2019-01-01,9,4,10,4,7,8,0.2,94,9.000,...,176,0,1,5.1,very bad,1,1,11.396823,10.579999,8.980922
1,2019-01-02,8,5,18,7,7,5,0.0,90,9.000,...,116,0,1,8.7,very bad,1,2,16.020019,11.802741,12.353602
2,2019-01-03,6,0,18,0,4,3,0.0,88,10.000,...,116,0,1,8.7,very bad,1,3,16.020019,5.689031,7.410233
3,2019-01-04,5,-1,15,-1,4,3,0.0,91,10.000,...,122,0,1,5.1,very bad,1,4,11.396823,4.466289,4.037552
4,2019-01-05,6,-1,8,-1,4,3,0.0,91,8.000,...,116,0,1,8.7,very bad,1,5,16.020019,4.466289,6.421559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2019-12-27,13,10,13,10,12,11,0.0,96,7.375,...,116,0,1,8.7,not good not bad,12,27,16.020019,17.916452,17.296971
361,2019-12-28,11,5,12,7,8,8,0.0,93,7.625,...,116,0,1,6.9,very bad,12,28,13.708421,11.802741,11.161599
362,2019-12-29,9,2,11,3,6,7,0.0,86,10.000,...,116,0,1,8.7,very bad,12,29,16.020019,8.134515,9.387580
363,2019-12-30,12,4,7,5,9,9,0.0,61,10.000,...,113,0,1,8.7,very bad,12,30,16.020019,10.579999,11.364928
364,2019-12-31,10,4,13,4,7,9,0.1,94,9.000,...,119,0,1,8.7,very bad,12,31,16.020019,10.579999,11.364928

In [108]:
model_from_both.score(X3, y3)

0.8674787980774968

## Calculate the R2 score of the 2 new predictions
Be careful : if you still use the same "X" name, you will overwrite it.

Which model has the best score ? Do you think it's logical ?

In [109]:
print('first regression score: ',model_from_sun.score(X, y))
print('second regression score: ',model_from_min.score(X2, y2))
print('third regression score: ',model_from_both.score(X3, y3))

first regression score:  0.47654554059087306
second regression score:  0.7689396999057355
third regression score:  0.8674787980774968

**Third regression : create a new column 'predict_from_both' ****

In [111]:
r2_sun = model_from_sun.score(X, y)
r2_min = model_from_min.score(X2, y2)
r2_both = model_from_both.score(X3, y3)

best_score = max(r2_sun, r2_min, r2_both)
print(f'le score de sun, T_min et both est de : {r2_sun},{r2_min},{r2_both}\nle score maximum est : {best_score}')

le score de sun, T_min et both est de : 0.47654554059087306,0.7689396999057355,0.8674787980774968
le score maximum est : 0.8674787980774968

In [ ]:
# Your code here :

# Train Test Split
One of biggest problems of Machine learning is : **overfitting**.

To be sure that machine didn't memorize the result, we use the Train Test Split methodology. We keep some data separate (often 25% of our initial dataset). Then we train our model on the 75% (the "Train set"). 
After, we can calculate a score on the "Test set".

Let's do that !

In [22]:
# Juste read and execute the code below
from sklearn.model_selection import train_test_split

X = df_weather[['SUNHOUR']]
y = df_weather['MAX_TEMPERATURE_C']

# Here, we split our 2 datasets (the variables "X" and the target "y") into 4 datasets X and y for the train set and X and y for the test set.
# We set the size of the train set to 75%. And the rest is for the test set.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size = 0.75)
print("The length of the initial dataset is :", len(X))
print("The length of the train dataset is   :", len(X_train))
print("The length of the test dataset is    :", len(X_test))

# Here we train the model only on the train dataset.
newmodel = LinearRegression().fit(X_train, y_train)

# And now we compare both scores :
print("\nScore for the Train dataset :", newmodel.score(X_train, y_train))
print("Score for the Test dataset :", newmodel.score(X_test, y_test))

The length of the initial dataset is : 365
The length of the train dataset is   : 273
The length of the test dataset is    : 92

Score for the Train dataset : 0.47243569075679914
Score for the Test dataset : 0.4749360350733982

## Both scores are very close, there is no overfitting, well done !

What happens if we don't randomize our dataset. Here, the model learns only on the 9 first months.

In [25]:
# Juste read and execute the code below
from sklearn.model_selection import train_test_split

X = df_weather[['MIN_TEMPERATURE_C']]
y = df_weather['MAX_TEMPERATURE_C']

# We set the size of the train set to 75%. And the rest is for the test set.
# We set the split NOT in random.
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.75, shuffle = False)


# Here we train the model only on the train dataset.
newmodel = LinearRegression().fit(X_train, y_train)

# And now we compare both scores :
print("\nScore for the Train dataset :", newmodel.score(X_train, y_train))
print("Score for the Test dataset :", newmodel.score(X_test, y_test))

Score for the Train dataset : 0.7875765302008688
Score for the Test dataset : 0.03610833322378593

## There is an overfitting ! 
Indeed, the model get a good score on the Train dataset, because he learned in winter / spring / summer datas. But he gets a bad score in Falls...

# Let's play !
Train a new model with all numeric variables (without your target of course) and try to have a better score than previously.

Remember to split randomly your dataset before training your model.

Display the Test score.

In [28]:
df_weather.columns

Index(['DATE', 'MAX_TEMPERATURE_C', 'MIN_TEMPERATURE_C', 'WINDSPEED_MAX_KMH',
       'TEMPERATURE_MORNING_C', 'TEMPERATURE_NOON_C', 'TEMPERATURE_EVENING_C',
       'PRECIP_TOTAL_DAY_MM', 'HUMIDITY_MAX_PERCENT', 'VISIBILITY_AVG_KM',
       'PRESSURE_MAX_MB', 'CLOUDCOVER_AVG_PERCENT', 'HEATINDEX_MAX_C',
       'DEWPOINT_MAX_C', 'WINDTEMP_MAX_C', 'WEATHER_CODE_MORNING',
       'WEATHER_CODE_NOON', 'WEATHER_CODE_EVENING', 'TOTAL_SNOW_MM',
       'UV_INDEX', 'SUNHOUR', 'OPINION', 'MONTH', 'DAY', 'predict_from_sun',
       'predict_from_min', 'predict_from_both'],
      dtype='object')

In [ ]:
# Your code here :

In [31]:
# Juste read and execute the code below
from sklearn.model_selection import train_test_split

X = df_weather[['MIN_TEMPERATURE_C', 'WINDSPEED_MAX_KMH',
       'TEMPERATURE_MORNING_C', 'TEMPERATURE_NOON_C', 'TEMPERATURE_EVENING_C',
       'PRECIP_TOTAL_DAY_MM', 'HUMIDITY_MAX_PERCENT', 'VISIBILITY_AVG_KM',
       'PRESSURE_MAX_MB', 'CLOUDCOVER_AVG_PERCENT', 'HEATINDEX_MAX_C',
       'DEWPOINT_MAX_C', 'WINDTEMP_MAX_C', 'WEATHER_CODE_MORNING',
       'WEATHER_CODE_NOON', 'WEATHER_CODE_EVENING', 'TOTAL_SNOW_MM',
       'UV_INDEX', 'SUNHOUR','MONTH', 'DAY', 'predict_from_sun',
       'predict_from_min', 'predict_from_both']]
y = df_weather['MAX_TEMPERATURE_C']

# Here, we split our 2 datasets (the variables "X" and the target "y") into 4 datasets X and y for the train set and X and y for the test set.
# We set the size of the train set to 75%. And the rest is for the test set.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size = 0.75)
print("The length of the initial dataset is :", len(X))
print("The length of the train dataset is   :", len(X_train))
print("The length of the test dataset is    :", len(X_test))

# Here we train the model only on the train dataset.
newmodel = LinearRegression().fit(X_train, y_train)

# And now we compare both scores :
print("\nScore for the Train dataset :", newmodel.score(X_train, y_train))
print("Score for the Test dataset :", newmodel.score(X_test, y_test))

The length of the initial dataset is : 365
The length of the train dataset is   : 273
The length of the test dataset is    : 92

Score for the Train dataset : 0.9933353831340123
Score for the Test dataset : 0.9953728575100914

In [32]:
# Juste read and execute the code below
from sklearn.model_selection import train_test_split

X = df_weather[['MIN_TEMPERATURE_C','WINDSPEED_MAX_KMH','TEMPERATURE_MORNING_C','TEMPERATURE_NOON_C','SUNHOUR']]
y = df_weather['MAX_TEMPERATURE_C']

# Here, we split our 2 datasets (the variables "X" and the target "y") into 4 datasets X and y for the train set and X and y for the test set.
# We set the size of the train set to 75%. And the rest is for the test set.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size = 0.75)
print("The length of the initial dataset is :", len(X))
print("The length of the train dataset is   :", len(X_train))
print("The length of the test dataset is    :", len(X_test))

# Here we train the model only on the train dataset.
newmodel = LinearRegression().fit(X_train, y_train)

# And now we compare both scores :
print("\nScore for the Train dataset :", newmodel.score(X_train, y_train))
print("Score for the Test dataset :", newmodel.score(X_test, y_test))

The length of the initial dataset is : 365
The length of the train dataset is   : 273
The length of the test dataset is    : 92

Score for the Train dataset : 0.9648834439344053
Score for the Test dataset : 0.9741268005369462

In [33]:
X = df_weather.drop(columns = ['DATE','MAX_TEMPERATURE_C','OPINION','predict_from_sun','predict_from_min','predict_from_both'])
y = df_weather['MAX_TEMPERATURE_C']


# We set the size of the train set to 75%. And the rest is for the test set.
# We set the split NOT in random.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size = 0.75)


# Here we train the model only on the train dataset.
newmodel = LinearRegression().fit(X_train, y_train)

# And now we compare both scores :
print("\nScore for the Train dataset :", newmodel.score(X_train, y_train))
print("Score for the Test dataset :", newmodel.score(X_test, y_test))

Score for the Train dataset : 0.9933353831340123
Score for the Test dataset : 0.9953728575100915

In [98]:
# Juste read and execute the code below
from sklearn.model_selection import train_test_split

X = df_weather.drop(columns = ['DATE',
                               'OPINION',
                               'MAX_TEMPERATURE_C',
                               'predict_from_sun',
                               'predict_from_min',
                               'predict_from_both'])

y = df_weather['MAX_TEMPERATURE_C']

# We set the size of the train set to 75%. And the rest is for the test set.
# We set the split NOT in random.
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.75)


# Here we train the model only on the train dataset.
newmodel = LinearRegression().fit(X_train, y_train)

# And now we compare both scores :
#print("\nScore for the Train dataset :", newmodel.score(X_train, y_train))
print("Score for the Test dataset :", newmodel.score(X_test, y_test))

Score for the Test dataset : 0.9932329746235465